<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<h2>Add new user</h2>
<div>
    <form th:action="@{/add}" th:object="${user}" method="post">
        <fieldset>
            <legend>Info about user</legend>
            <p>
                <label th:for="name">Name</label>
                <input type="text" name="name" th:id="name" th:value="${user.getName()}">
            </p>
            <p>
                <label th:for="lastName">Last Name</label>
                <input type="text" name="lastName" th:id="lastName" th:value="${user.getLastName()}"><br/>

            </p>
            <p>
                <label th:for="email">Email</label>
                <input type="text" name="email" th:id="email" th:value="${user.getEmail()}"><br/>
            </p>
        </fieldset>
        <button type="submit">Save user</button>
    </form>
    <br/>
    <form th:action="@{/}">
        <button type="submit" class="btn btn-outline-danger">Back</button>
    </form>
</div>
</body>
</html>